.social-list {
	.social-list__items {
		li {
			margin: 0;
			&::before {
				display: none;
			}
			> a {
				display: block;
				text-decoration: none;
				text-align: center;
				&:hover {
					text-decoration: none;
				}
				&::before {
					@include font-awesome-icon();
					@include font-size(1);
					font-size: 16px;
					display: block;
					width: 30px;
					height: 30px;
					line-height: 30px;
					margin: auto;
					border-radius: 50%;
					@include media-breakpoint-up(lg) {
						width: 50px;
						height: 50px;
						line-height: 50px;
					}
				}
				&[href*="codepen.io"]::before      { content: '\f1cb'; }
				&[href*="digg.com"]::before        { content: '\f1a6'; }
				&[href*="dribbble.com"]::before    { content: '\f17d'; }
				&[href*="dropbox.com"]::before     { content: '\f16b'; }
				&[href*="facebook.com"]::before    { content: '\f09a'; }
				&[href*="flickr.com"]::before      { content: '\f16e'; }
				&[href*="plus.google.com"]::before { content: '\f0d5'; }
				&[href*="github.com"]::before      { content: '\f09b'; }
				&[href*="instagram.com"]::before   { content: '\f16d'; }
				&[href*="linkedin.com"]::before    { content: '\f0e1'; }
				&[href*="pinterest.com"]::before   { content: '\f0d2'; }
				&[href*="getpocket.com"]::before   { content: '\f265'; }
				&[href*="reddit.com"]::before      { content: '\f1a1'; }
				&[href*="skype.com"]::before,
				&[href*="skype:"]::before          { content: '\f17e'; }
				&[href*="stumbleupon.com"]::before { content: '\f1a4'; }
				&[href*="tumblr.com"]::before      { content: '\f173'; }
				&[href*="twitter.com"]::before     { content: '\f099'; }
				&[href*="vimeo.com"]::before       { content: '\f27d'; }
				&[href*="wordpress.org"]::before,
				&[href*="wordpress.com"]::before   { content: '\f19a'; }
				&[href*="youtube.com"]::before     { content: '\f167'; }
				&[href*="vk.com"]::before     { content: '\f189'; }
				&[href*="rss"]::before     { content: '\f09e'; }
			}
		}
	}
}