/*
 Theme Name:   King News Child Theme
 Author:       Template Monster
 Author URI:   http://www.templatemonster.com/
 Description:  Real Estate theme.
 Version:      1.0.2
 Template:     king-news
 Version:      1.0.2
 Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-menu, featured-images, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, footer-widgets, full-width-template
 Text Domain:  king-news-child
*/
@import url("../king-news/style.css");

/*h4.widget-title{*/
    /*font-style: normal;*/
    /*font-family: Georgia;*/
/*}*/
/*h3.comment-reply-title{*/
    /*font-style: normal;*/
    /*font-family: Georgia;*/
/*}*/
.wp-polls .Buttons{
    background: #fff602;
    color: #000000;
    border: none;
    transition: .4s all ease;
}
.wp-polls .Buttons:hover{
background: rgb(51,51,51);
color: #ffffff;
}
.wp-polls-form{
    text-align: left;
}
.wp-polls-form p{
    text-align: left!important;
}
.tm_fpblock__item__author span:last-of-type{
    display: none;
}
.width_100{
    display: block;
    width:100%;
    clear: both;
}
.align_center{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.width_65{
    width:65%;
    margin: 0 0 10px 0;
    float: left;
}
.width_35{
    width:35%;
    margin: 0 0 10px 0;
    text-align: center;
}
.time_to_read {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.smart_box_full_author span{
    color: #fff;
}
.smart_box_full_author span:last-of-type{
    display: none;
}
.focus_author_hover span:last-of-type{
    display: none;
}
.widget-special-author span:last-of-type{
    display: none;
}
.widget-special-author span{
    color: #000;
}
.smart_box_mini_author span:last-of-type{
    display: none;
}
.focus_author_hover span{
    color: #000;
}
.time_to_read span.tooltiptext {
    visibility: hidden;
    width: 190px;
    top: -5px;
    right: 105%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
font-size: 13px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.time_to_read:hover span.tooltiptext {
    visibility: visible;
}
#primary .widget.widget-image-grid.widget .widget-title{
    font-size: 30px;
}
.site-footer .widget-subscribe h4{
    margin-top: -6px;
}
.site-footer .widget.king_news.widget-subscribe{
    margin-top: -6px;
}
.footer-area .widget_nav_menu a{
    padding: 7px 11px;
    border-radius: 0;
    text-decoration: none;
    display: inline-block;
    background: #efefef;
    margin: 4px 2px;
    font-size: 14px !important;
    color: #000;
    font-family: Noto Serif;
}
@media (max-width: 1199px) and (min-width: 992px) {
    .widget_third_display_none:nth-of-type(3){
        display: none;
    }
}
@media (max-width: 1199px) and (min-width: 768px){
.footer-area .widget_nav_menu a{
        padding: 6px 10px;
        margin: 2px 1px;
    }
}
.footer-area .widget_nav_menu a:hover {
    color: #fff602;
    background: #000000;
}
.footer-area .widget ul li{
    margin:0;
    display: inline-block;
}
.site-logo{
    position: relative;
}

.beta{
    color: #000000;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-60%);
}
@media screen and (max-width: 661px) {
    .width_65{
        width:100%;
        text-align: center;
    }
    .width_35{
        width:100%
    }
    .beta {
        right: 0;
    }
}
.header-container__flex{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: center;
}
@media screen and (min-width: 320px){
    .header-container__flex.scrolled{
        position: fixed;
        z-index:20;
        background: #fff;
        top: 0;
        left:30px;
        right:30px;
        transition: all .4s;
        flex-wrap: nowrap;
        border-bottom: 1px solid #d2d1d1;
    }
    .header-container__flex.scrolled .main-navigation{
        flex: 20 1 59%!important;
    }
    .header-container_inner.scrolled{
        height:133px;
    }

    .header-container__flex.scrolled .main-navigation ul.menu > li > a{
        font-size:14px;
        transition: all .3s;
        padding:25px 13px 40px;
    }
    .header-container__flex.scrolled .main-navigation ul.menu > li > a:before{
        display: none;
    }
}
.site-header .header-container__flex.scrolled .site-branding{
    order: 5;
}
@media screen and (max-width: 992px){
    .header-container__flex.scrolled .main-navigation ul.menu > li > a{
        padding: 10px 13px 20px;
    }
}
@media screen and (max-width: 850px){
    .header-container__flex.scrolled .social-list--header{
        display: none;
    }
    .header-container__flex.scrolled .main-navigation ul.menu > li > a {
        font-size: 12px;
        padding: 10px 10px 20px;
    }
}
@media screen and (max-width: 600px){
    .header-container__flex.scrolled{
        left:0;
        right:0;
    }
    .site-branding{
        transition: all .3s;
    }
    .site-header .header-container__flex.scrolled .site-branding{
        transform: scale(0.7);
        order: 1;
    }

    .header-container__flex.scrolled .menu-toggle{
        position: absolute;
        top: 11px;
        right: 10px;
    }
    .site-header.minimal .social-list{
        display: none;
    }
    .header-container__flex.scrolled .main-navigation{
        padding-top:0 !important;
    }
}

.site-header.minimal .social-list {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    white-space: nowrap;
    padding: 5px 0 5px;
}
.site-header.minimal .site-branding {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 0;
    width: 240px;
    border-bottom: none;
}
.site-header.minimal .main-navigation {
    -webkit-order: 1;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: center;
    border-top: 1px solid #d2d1d1;
}
.social-list .social-list__items li > a[href*="vk.com"]::before {
    content: '\f189';
}
.header-container {
    padding: 0 30px 25px;
}
.main-navigation ul.menu > li{
    text-transform: uppercase;
}
.site-footer.default .site-info__mid-box{
    margin-top: 40px;
}
.site-footer.default .footer-logo img{
    max-height: 80px;
}
.float_right{
    float: right;
}
.post-author__holder{
    margin-top: 30px;
}
.reservation{
    background: #f2f2f2;
    text-align: center;
    padding: 15px 15px 30px;
    margin-top: 30px;
}
.reservation-title{
    font-size: 18px;
}

.reservation-title:before{
    content: '';
    margin-right: 10px;
    background: #000;
    height: 1px;
    width:10px;
    display: inline-block;
    vertical-align: middle;
}
.reservation-title:after{
    content: '';
    margin-left: 10px;
    background: #000;
    height: 1px;
    width:10px;
    display: inline-block;
    vertical-align: middle;
}
.widget ul li{
    font-family: Georgia;
}
.footer-container .site-info{
    margin-bottom:0;
    border-bottom: none;
}
@media screen and (max-width: 601px){
    .main-navigation ul.menu > li > a {
        padding: 25px 10px 31px;
        text-align: center;
    }
    .site-header.minimal .social-list {
        order: 1;
        text-align: center;
        border-bottom: 1px solid #d2d1d1;
        border-top: 1px solid #d2d1d1;
    }
    .header-container__flex{
        flex-direction: column;
        text-align: center;
    }
    .site-header.minimal .main-navigation {
        padding-top: 30px;
        border-top: none;
    }
    .header-container {
        padding: 25px 30px 25px;
    }
}
@media screen and (min-width: 601px) {
    .site-header.minimal .main-navigation {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 4;
        -webkit-flex: 20 1 100%;
        -ms-flex: 20 1 100%;
        flex: 20 1 100%;
    }

}

.top-panel__register {
    display: none;
}

.top-panel .search-form {
    border-right: none !important;
}


/*SMEREKA STYLE*/
.widget-area .widget{
    vertical-align: top;
}
.edit_choice_info{
    display: none;
}
.widget_news_edit_choice figure .post__date{
    margin-left:20px;
}
.top_news_block_wrap{
    width:100%;
    padding: 5px 4px 0px !important;
}
.top_news_block{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.wrap_link{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
}
.top_news_block:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 10%;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    background-image: linear-gradient(to bottom, transparent 0%, black 100%);
    background-repeat: repeat-x;
    transition: .4s all ease;
}

.top_news_block:hover:before{
    opacity: 1;
    top: 0;
}
.widget-new-smart-inner-big-before-content figure figcaption:before{
    top:10%;
}
.widget-new-smart-inner-big-before-content figure figcaption:hover::before{
    top: 0;
}
.swiper-wrapper .post .post-thumbnail__link::before{
    top:10%;
}
.swiper-wrapper .post .post-thumbnail__link:hover::before{
    top:0;
}
.top_news_block:hover h3{
    color: #02afff;
}

.top_news_block .title{
    position: absolute;
    top:50%;
    left: 28px;
    right: 28px;
    z-index:2;
    transform: translateY(-50%);
}
.top_news_block h3{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
}
.top_news_block img{
    width:100%;
}
.widget_news_edit_choice .widget-share_btn{
    position: absolute;
    bottom:10px;
    right:10px;
}
.widget-new-smart-inner-big-before-content .share-btns-main.show-share-list .share-btns__list{
    right:10px;
    z-index:5;
}
.share-btns-main.show-share-list .share-btns__list{
    opacity: 1;
    right: -10px;
    visibility: visible;
}
.share-btns-main .share-btns__list{
    right: 15px;
}
#primary .widget.widget-image-grid.widget .post__cats{
    width:65%;
}
.post__cats{
    top:10px !important;
    left:10px !important;
}
.tm_fpblock__item .tm_fpblock__item__categories{
    top:10px;
    left:10px;
}
.time_to_read{
    background: #fff602;
    color: #000;
    position: absolute;
    padding: 0 4px;
    top:10px;
    right:10px;
    position: absolute;
    font-family: Noto Serif;
    font-weight: bold;
    height:22px;
}
.widget-new-smart__post__date{
    font-family: Noto Serif;
    font-size:14px;
}
.time_to_read.open_page{
    top: 0;
    right:0;
}
.time_to_read.open_page svg{
    margin-right:5px;
}
.time_to_read svg{
    vertical-align: top;
    width: 16px;
    margin-bottom: -2px;
    position: relative;
    top: -4px;
}
.time_to_read span{
    font-size: 14px;
    margin-left: 5px;
}
.time_to_read span:after{
    content: 'хв';
}
#primary .widget.widget-image-grid.widget .share-btns-main .share-btns__list{
    background: none;
    right:10px;
    z-index:5;
}
#primary .widget.widget-image-grid.widget .widget-image-grid__inner img{
    position: static;

}
#primary .widget.widget-image-grid.widget .widget-image-grid__inner .share-btn-widget{
    position: absolute;
    right:20px;
    bottom:20px;
}

.widget_carousel .share-btns__link{
    color: #fff;
}
.widget_carousel .share-btns__link:hover{
    color: #fff602;
}
.widget_carousel .share-btns-main.show-share-list .share-btns__list{
    right:10px;
}
.tm_fpblock__item > a{
    height:100%;
}
.tm_fpblock .share-btns__link{
    color: #fff;
}
.tm_fpblock .share-btns__link:hover{
    color: #fff602;
}
.tm_fpblock .share-btns-main{
    display: none;
}
.read-also .share_btn{
    position: absolute;
    right:10px;
    bottom: 10px;
}
.smart_box_full_author:before{
    content: 'Автор:';
    color: #fff;
    margin-right:5px;
}
.smart_box_mini_author:before{
    content: 'Автор:';
    color: #000;
    margin-right:5px;
}
.focus_author_hover:before{
    content: 'Автор:';
    color: #000;
    margin-right:5px;
}
.widget-special-author:before{
    content: 'Автор:';
    color: #000;
    margin-right:5px;
}
@media (max-width: 991px) {
    #primary .widget.widget-image-grid.widget .widget-image-grid__inner .widget-image-grid__content-2{
    bottom: 20px;
    position: absolute;
    left: 10px;
    right: 20px;
    width: auto;
    }
}
@media (min-width: 1024px){
    #primary .widget.widget-image-grid.widget .image_grid_widget-main {
        margin-left: -20px !important;
    }
    #primary .widget.widget-image-grid.widget .widget-image-grid__inner{
        margin-left: 20px !important;
    }
    #primary .widget.widget-image-grid.widget .widget-image-grid__inner .widget-img-wrap{
        padding-top:80%;
        position: relative;
    }
    #primary .widget.widget-image-grid.widget .widget-image-grid__inner img{
        position: absolute;
        left:50%;
        top:50%;
        height:100%;
        transform: translate(-50%,-50%);
        width:auto;
        max-width: none;
    }


}

@media screen and (min-width: 992px){
        .footer-area .widget_nav_menu a{
            padding: 15px 21px;
        }
    h6 {
        font-size: 12px!important;
        font-weight: 400!important;
    }
    .widget_news_edit_choice{
        margin-top:30px !important;
    }
    .widget_news_edit_choice .widget-new-smart-main{
        display: flex;
    }
    .widget_news_edit_choice .widget-new-smart-main figcaption{
        position: static;
        padding: 0 30px;
    }
    .widget_news_edit_choice .widget-new-smart-main figcaption:before{
        display: none;
    }
    .widget_news_edit_choice .widget-new-smart-main .post__cats{
        left: 30px;
        top:30px;
        max-width:240px;
    }
    .widget_news_edit_choice figure figcaption .widget-new-smart__title{
        color: #000;
        margin:0 0 20px;
    }
    .widget_news_edit_choice .post-thumbnail__link{
        width:100%;
        margin-bottom:0;
    }
    .widget_news_edit_choice .widget-image_wrap{
        position: relative;
        width:100%;
    }
    .widget_news_edit_choice .widget-image_wrap .post-thumbnail__link{
        margin-bottom:0 !important;
    }
    .widget_news_edit_choice .widget-share_btn{
       display: none;
    }
    .widget-new-smart-inner-big-before-content .share-btns-main.show-share-list .share-btns__list{
        right:10px;
    }
    .widget_news_edit_choice figure .post__date .material-icons{
        color: #999;
    }
    .widget_news_smart_box {
        width: 48%;
    }
    .edit_choice_info_responsive{
        display: none;
    }
    .edit_choice_info{
        display: block;
    }
    .top_news_block_wrap{
        width:25%;
        padding: 4px 4px 0px !important;
    }
    .top_news_block img{
        height:100%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        max-width: none;
        width:auto;
    }
    
}
.swiper-wrapper .post .carousel--inner{
    right:0;
}
.swiper-wrapper .post .inner{
    width:100%;
}
.news-smart-box__navigation .current-term span:after{
    display: none;
}
.share-btn-widget-fix .share-btns-main{
    display: none;
    float: right;
    top: 0px;
}
.share-btn-widget-fix .share-btns-main .material-icons{
    color: #fff602;
    font-size:20px;
    margin-right:30px;
    top:0;
}
.focus_author_hover{
    font-family: Noto Serif;
    font-size:14px;
}

.smart_box_full_author{
    font-family: Noto Serif;
    font-size:14px;
}
.site-header.minimal .main-navigation{
    border-top:none;
}
.focus_time_publicate{
    display: none;
}
.carousel_view_author_hover{
    display: none;
}
.widget-new-smart-inner-big-before-content figure figcaption .wrap_link{
    z-index:-1;
}
.author-post .widget-new-smart__footer-2{
    margin-top:10px;
}
.post .post-header{
    padding-top: 25px;
    position: relative;
}
.post .post-header .post__cats{
    position: absolute;
    top:0 !important;
    left: 0 !important;
}
.posts-list__item .post-list__item-content .post-thumbnail{
    width: 30%;
}
.posts-list .post-thumbnail__img{
    width:100%;
}
.post-author__content{
    font-style: normal;
    font-family: Roboto, sans-serif;
}
@media (min-width: 992px) and (max-width: 1920px){
    #primary .widget.widget-image-grid.widget .widget-image-grid__title{
        font-size: 16px;
        margin-bottom:35px;
    }
}
@media (min-width: 1024px) {
    .author_post_img_wrap {
        padding-top: 80%;
        position: relative;
    }
}
@media (min-width: 992px){
    #primary .widget.widget-image-grid.widget .widget-image-grid__footer {
        position: absolute;
        bottom: 0;
    }
    .widget-image-grid__title{
        margin-bottom:20px;
    }
    #primary .widget.widget-image-grid.widget .widget-image-grid__content{
        height:auto;
        flex-grow: 1;
    }
    #primary .widget.widget-image-grid.widget .widget-image-grid__inner{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-panel__wrap {
        padding: 15px 0;
    }
    .author-post .widget-new-smart__footer-2{
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0;
    }
    .author-post .widget-new-smart__post__date{
        float: left;
    }
    .author-post .post__date .material-icons{
        color: #999;
    }
    .author-post .share-btns-main{
        float: right;
    }
    .author-post .widget-image-grid__title{
        margin-bottom: 45px;
    }
}
@media (max-width: 992px){
    .top_news_block{
        max-height: 400px;
    }
    .post h1.entry-title{
        font-size:25px;
    }
}
@media (max-width: 601px){
    .site-header.minimal .site-branding{
        margin-bottom:0;
    }
    .site-header.minimal .social-list{
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        top:0;
    }
    .widget-image-grid__title {
        font-size: 14px;
    }
    .tm_fpblock__item .tm_fpblock__item__description .tm_fpblock__item__title{
        font-size:14px;
    }
    .top_news_block h3{
        font-size:14px;
    }
}
.social-list .social-list__items li > a[href*="vk.com"]::before {
    content: '\f189';
}
.sidebar-primary .swiper-carousel-container .swiper-button-next, .sidebar-primary .swiper-carousel-container .swiper-button-prev, .sidebar-secondary .swiper-carousel-container .swiper-button-next, .sidebar-secondary .swiper-carousel-container .swiper-button-prev, .footer-area .col-md-4 .swiper-carousel-container .swiper-button-next, .footer-area .col-md-4 .swiper-carousel-container .swiper-button-prev, .footer-area .col-md-3 .swiper-carousel-container .swiper-button-next, .footer-area .col-md-3 .swiper-carousel-container .swiper-button-prev, .footer-area .col-md-2 .swiper-carousel-container .swiper-button-next, .footer-area .col-md-2 .swiper-carousel-container .swiper-button-prev{
    top: 40%;
    transform: translateY(-50%);
    width:40px;
    height:40px;
    padding: 5px;
}
.date_author {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.date_author .tm_fpblock__item__author{
    margin-left: 5px;
    margin-top:10px;
}

.widget-smart-new{
    width:100%;
}
.share-btns-main{
    flex-grow:1;
    text-align: right;
    top: 5px;
}
.share-btns-main .material-icons{
    color: #fff602;
}
#sidebar-secondary .widget-title, #sidebar-primary .widget-title{
    margin-bottom:20px;
}



@media (max-width: 467px){
    .news-smart-box .full-type .post__cats, .news-smart-box .full-type .widget-new-smart__footer-2 {
        display: flex !important;
    }
}
@media (max-width: 400px){
    .tm_fpblock .share-btns-main{
        display: none !important;
    }
    .share-btns-main{
        display: block !important;
    }
    .site .site-content{
        padding: 0 15px;
    }
    .tm_fpblock__item .tm_fpblock__item__preview > img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .tm_fpblock__item .tm_fpblock__item__preview{
        min-height: 250px;
    }
}


.updateList {
    margin: 0 auto;
    display: block;
}

.author_list_titlе {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}
.tm_fpblock__item .tm_fpblock__item__preview::before{
    top: 10%;
}
.tm_fpblock__item:hover .tm_fpblock__item__preview:before{
    top: 0;
}
@media (max-width: 1600px) and (min-width: 1200px){
    .tm_fpblock__item .tm_fpblock__item__preview {
        min-height: 530px;
    }
    .tm_fpblock__item-small .tm_fpblock__item__preview{
        min-height: 1px;
    }
}
@media (max-width: 1200px) and (min-width: 992px){
      .tm_fpblock__item-small .tm_fpblock__item__categories{
          display: none;
      }
    .tm_fpblock__item-small .time_to_read{
        display: none;
    }
    .tm_fpblock__item-small .date_author{
        display: none;
    }
}
@media (max-width: 500px){
    .archive .posts-list--minimal .post-list__item-content .post-thumbnail, .archive .posts-list--default .post-list__item-content .post-thumbnail{
        width: 100%;
    }
}

