.tm-pg_front_gallery .tm-pg_front_gallery-tabs li a{
    font-family: $h6_font_family;
    color: $regular_accent_color_3;
}

.tm-pg_front_gallery .tm-pg_front_gallery-grid .tm_pg_gallery-item_label,
.tm-pg_front_gallery .tm-pg_front_gallery-masonry .tm_pg_gallery-item_label,
.tm-pg_front_gallery .tm-pg_front_gallery-justify .tm_pg_gallery-item_label,
.tm-pg_front_gallery-grid .tm_pg_gallery-item_description,
.tm-pg_front_gallery-masonry .tm_pg_gallery-item_description,
.tm-pg_front_gallery-justify .tm_pg_gallery-item_description{
    font-size: $body_font_size{px};
    font-style: $h4_font_style;
    font-family: $h4_font_family;
}

.tm-pg_front_gallery-tabs li a:after,
.tm-pg_front_gallery .tm-pg_front_gallery-tabs li.active a:after,
.tm-pg_front_gallery .tm-pg_front_gallery-tabs li:hover a:after,
.tm-pg_front_gallery .tm-pg_front_gallery-grid .tm_pg_gallery-item_label,
.tm-pg_front_gallery .tm-pg_front_gallery-masonry .tm_pg_gallery-item_label,
.tm-pg_front_gallery .tm-pg_front_gallery-justify .tm_pg_gallery-item_label,
.tm-pg_front_gallery-grid .tm_pg_gallery-item_icon,
.tm-pg_front_gallery-masonry .tm_pg_gallery-item_icon,
.tm-pg_front_gallery-justify .tm_pg_gallery-item_icon,
.tm-pg_front_gallery-grid .tm_pg_gallery-item_description,
.tm-pg_front_gallery-masonry .tm_pg_gallery-item_description,
.tm-pg_front_gallery-justify .tm_pg_gallery-item_description,
.tm-pg_front_gallery .load-more-button .btn{
    background-color: $regular_accent_color_2!important;
}

.tm-pg_front_gallery .load-more-button .btn{
    color: $regular_text_color;
}

.tm-pg_front_gallery-grid .tm_pg_gallery-item_counter,
.tm-pg_front_gallery-masonry .tm_pg_gallery-item_counter,
.tm-pg_front_gallery-justify .tm_pg_gallery-item_counter{
    font-size: @font_size($body_font_size, multiple, ceil, 0.7)px;
    color: $invert_h6_color;
}

.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers{
    font-size: @font_size($h5_font_size, multiple, ceil, 0.9)px;
}
.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers.current{
    color: $regular_text_color;
}
.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers{
    font-family: $h6_font_family;
    color: $regular_accent_color_3;
}
.tm-pg_front_gallery .tm_pg_gallery-item_title{
    color: $invert_h6_color;
    font-weight: $body_font_weight;
    font-size: $h3_font_size{px};
}