.tm-pg_front_gallery{
    text-align: center;

    .tm-pg_front_gallery-tabs{
        display: inline-block;
        margin-bottom: 2.8rem;

        li{
            margin-top: 0;

            &:before{
                display: none;
            }
            a{
                text-decoration: none;
                font-weight: 700;
            }
            &.active a{
                color: #3d3a44;
            }
            &.active a:after,
            &:hover a:after{
                height: 3px;
                bottom: -1px;
            }
        }
    }

    .tm_pg_gallery-item{
      @media screen and ( max-width: 767px ) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .tm-pg_front_gallery-grid,
    .tm-pg_front_gallery-masonry,
    .tm-pg_front_gallery-justify{

        .tm_pg_gallery-item_label{
            top: 30px;
            left: 40px;
            color: $color__background-hr;
            font-weight: 700;
            line-height: 1;
            padding: 0 9px;

          @media screen and ( max-width: 992px ) {
            top: 15px;
            left: 15px;
          }
        }

        .tm_pg_gallery-item_link{
            &:before{
                background-color: $color__background-hr;;
            }
            &:hover:before{
                opacity: .6;

            }
        }

        .tm_pg_gallery-item_icon{
            position: absolute;
            top: 70px;
            left: 42px;
            width: 39px;
            height: 35px;
            background-image: none;
            font-family: "material-design";
            font-size: 24px;
            font-style: normal;
            color: $color__background-hr;
            line-height: 35px;
            text-align: center;

            @media screen and ( max-width: 992px ) {
              display: none;
            }

            &.tm_pg_album-icon:before{
                content: "\e0fc";
            }
            &.tm_pg_image-icon:before{
                content: "\e0e5";
            }
            &.tm_pg_set-icon:before{
                content: "\e0f0";
            }
        }
    }
    
    .tm_pg_gallery-item_title{
        text-transform: uppercase;
        margin-top: -10px;
        margin-bottom: 6px;
    }

    .tm_pg_gallery-item_description{
        top: 30px;
        left: 40px;
        color: $color__background-hr;
        font-weight: 700;
        line-height: 1;
        padding: 0 9px;
        position: absolute;

        @media screen and ( max-width: 992px ) {
          top: 15px;
          left: 15px;
        }
    }

    .tm_pg_gallery-item_counter{
        margin-top: 0;
        letter-spacing: 0.2em;
    }

    .tm-pg_hover-fade{
        .tm_pg_gallery-item_link{
            .tm_pg_gallery-item_meta{
                visibility: visible;
                opacity: 1;

                .tm_pg_gallery-item_title,
                .tm_pg_gallery-item_counter{
                    visibility: hidden;
                    opacity: 0;
                }
            }
            &:hover{
                .tm_pg_gallery-item_title,
                .tm_pg_gallery-item_counter{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .tm-pg_front_gallery-navigation{
        margin-top: 2em;

        .tm_pg_nav-links{
            a.tm_pg_page-numbers{
                text-decoration: none;
            }
        }
    }

    .load-more-button{
        margin-top: 2em;
        a{
            text-decoration: none;
            text-transform: capitalize;
            padding: 15px 45px;
        }
    }
}

.tm-pg_front_gallery-preloader{

    .preloader{
        left: auto;
    }
}
